@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Jacquarda+Bastarda+9&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap'); 


.start-screen {
  min-height: 100vh;
  background: radial-gradient(circle at top, #312e81, #020617 70%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.start-card {
  width: 100%;
  max-width: 1500px;
  /* background: rgba(255, 255, 255, 0.08); */
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
  padding: 3rem;
  text-align: center;
  box-shadow: 0 0 35px rgba(139, 92, 246, 0.45);
  /* backdrop-filter: blur(10px); */
}

.settings-card {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );

  gap: 35px;

  width: 90%;
  max-width: 1000px;

  margin: 30px auto;
  padding: 30px;

  /* background: rgba(92, 64, 51, 0.3); */
  border: 4px solid white;
  border-radius: 20px;
}

.start-button {
  font-family: "Jacquarda Bastarda 9", serif;
  font-size: 1.6rem; 
}

.setting-column {
  display: flex;    
  flex-direction: column;
  align-items: center;
}

.setting-column label {
  margin-bottom: 12px;
  font-size: 1.5rem; 
}

.setting-column select {
  width: 180px;
  padding: 12px;

  background: rgb(103, 92, 86, 0.4);
  color: white;

  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: "Inria Serif", serif;
}

.setting-column option {
  background: rgb(103, 92, 86, 0.93);
  color: white;
}

.start-card h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  font-family: "Jacquarda Bastarda 9", serif;
} 

.start-card p {
  margin-bottom: 2rem;
  opacity: 0.9;
  font-size: 2rem;
}

.start-card label {
  display: block;
  text-align: left;
  margin: 1rem 0 0.35rem;
  font-weight: 600;
}

.start-card select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
}

.start-card button {
  width: 100%;
  margin-top: 2rem;
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(135deg, #635955);
  color: white;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.start-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 22px rgba(168, 85, 247, 0.8);
}

.start-screen {
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}


/* Dark overlay */
.start-screen::before {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);
}

.start-card {
  position: relative;
  z-index: 1;
}