@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap'); 

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0; 
}

body {
  font-family: "Jacques Francois Shadow", sans-serif;
  background: #020617;
}

button,
select {
  font-family: inherit;
}